
/* First style- desctop */

body {
    background-color: rgb(87, 191, 226); 
    color: black;
    font-family: 'Arial', sans-serif;
  }

  section {
    margin-bottom: 40px; 
    padding: 20px;
  }

  

  h1 {
    background-color: #b1ec79;
    font-size: 40px;
    font-weight: bold;
    color: #22384e;
    margin-bottom: 10px;
    text-align: center;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #283c50;
    margin-bottom: 10px;
  }

  p {
    font-size: 30px;
    font-weight: normal;
    color: #0f0f0f;
  }

/* Experience - section */

  #Experience {
    padding: 20px;
    background-color: #099981;

    display: flex;
  }

  .experience-block {
    padding: 20px;
    background-color: #89b3ac;
    color: rgb(247, 240, 240);
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .job-title {
    font-size: 24px;
    margin: 0;
  }

  .experience-list {
    padding-left: 20px;
    line-height: 1.6;
    list-style-type: disc;
  }

/* Connect - section */

  #Connect {
    padding: 20px;
    background-color: #4e6b66;
    color: white;
    text-align: center;
  }
  
  .connect-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
  }
  
  .connect-links a {
    color: white;    
    font-size: 18px;
  }

/* Second style- Tablet (500px - 1000px) */

@media (max-width: 1000px) {
  h1 {
    background-color: #b1ec79;
    font-size: 30px;
    font-weight: bold;
    color: #22384e;
    margin-bottom: 10px;
    text-align: center;
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    color: #283c50;
    margin-bottom: 10px;
  }

  .experience-list {
    padding-left: 10px;
      }

  #Experience {
    flex-direction: column;
      }

  #Connect {
        flex-direction: column;
      }

}


/* Third style- Mobile (500px) */

@media (max-width: 500px) {
  h1 {
    background-color: #b1ec79;
    font-size: 25px;
    font-weight: bold;
    color: #22384e;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #283c50;
     }

  .experience-list {
    padding-left: 5px;
      }
   .experience-block {
      padding: 15px;
       margin: 10px 0;
      }

  #Experience {
    flex-direction: column;
      }

  #Connect {
       flex-direction: column;
      }

}
